.quotes-section-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .quote-text {
    color: white;
    margin: 1.2rem 0;
    font-size: 0.8rem;
    text-align: center;
    font-family: 'Shapiro 55 Middle Ext';
    text-transform: uppercase;
    @media screen and (max-width: 1000px) {
      font-size: 0.7rem;
    }
    @media screen and (max-width: 700px) {
      font-size: 0.5rem;
    }
  }
  .no-quotes-heading {
    color: white;
    margin: 3rem 0;
  }
}
