.home-main-div {
  background-color: #003638;
  background: url(../../images/backgrounds/main.jpeg) no-repeat center fixed;
  background-position: 0px 0px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  @media screen and (max-width: 1000px) {
    opacity:1;
  
  }
  // background-size: cover;

  animation: animate_image 0.9s ease-in-out forwards;
  opacity: 0.6;
  transition: 0.5s ease-in-out;
  @keyframes animate_image {
    from {
      transform: translateY(50px);
    }
    to {
      transform: translateY(0);
    }
  }
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
